<div class="math-card">
    <h2>Annie's Math Corner</h2>
    <p>We just love math, so test your skills with this endless math quiz! Remember: PEMDAS is as good as law on Big Balls Island.</p>
    <div>
        <h4>{{count}} problems solved</h4>
        <div style="background: rgba(235, 235, 235, 1); padding: 8px; border-radius: 8px;">
            <p><em>{{question}}</em></p>
            <mat-form-field>
                <mat-label>Answer</mat-label>
                <input matInput [(ngModel)]="answer" cdkFocusInitial>
            </mat-form-field>
            <p *ngIf="error" class="error-text">{{error}}</p>
            <p *ngIf="success" class="success-text">{{success}}</p>
        </div>
        <div mat-card-actions>
            <button mat-flat-button color="accent" (click)="checkAnswer(answer, solution)" class="check-button">Check</button>
        </div>
    </div>

</div>

