<div class="grid-container" fxLayout="column" fxLayoutGap="16px" fxFlex>
  <div fxFlex=100>
    <mat-card class="dashboard-card" fxFlex>
      <mat-card-content>
        <app-bulletin></app-bulletin>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxFlex=50>
    <div fxFlex=50>
      <mat-card class="dashboard-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-stocks></app-stocks>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="8px" fxFlex=50>
      <mat-card class="dashboard-card" fxFlex>
        <mat-card-content class="dashboard-card-content">
          <app-trades></app-trades>
        </mat-card-content>
      </mat-card>
      <!--      <mat-card class="dashboard-card" fxFlex>-->
      <!--        <mat-card-content class="dashboard-card-content">-->
      <!--          <app-leaderboard></app-leaderboard>-->
      <!--        </mat-card-content>-->
      <!--      </mat-card>-->
    </div>
  </div>
  <div fxFlex=100>
    <mat-card class="dashboard-card gutter-bottom" fxFlex>
      <mat-card-content>
        <app-math></app-math>
      </mat-card-content>
    </mat-card>
  </div>
</div>