.grid-container {
  // margin: 20px;
  min-height: 100vh;
  height: 100%;
  max-width: 100vw;
}

.dashboard-card {
  overflow: hidden;
  padding: 0;
  // bottom: 15px;
  // right: 15px;
  // left: 15px;
  // top: 15px;
  // position: absolute;
  // margin: 6px;
}

mat-card {
  border-radius: 16px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}