<div class="bulletin-board example-boundary">
    <div *ngFor="let image of images" class="example-box" cdkDrag cdkDragBoundary=".example-boundary"
         [cdkDragFreeDragPosition]="image.position">
        <img [src]="image.path" class="thumbnail-image" (click)=expandImage(image.path)/>
    </div>

    <div *ngFor="let vid of videos" class="example-box" cdkDrag cdkDragBoundary=".example-boundary"
         [cdkDragFreeDragPosition]="vid.position">
        <img [src]="vid.path" class="thumbnail-image" (click)=expandImage(vid.path)/>
    </div>
</div>
