.bulletin_board {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  background-image: url("../../assets/bulletin_board.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}